*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 100vh;
    display: grid;
    padding: 1rem;
    background-color: #272a37;
    font-family: "Poppins", sans-serif;
  
}
h2{
    text-align: center;
}
form{
    width: 100%;
    max-width: 30rem;
    margin: auto;
}
label, input, textarea, button{
    display: block;
      
}
input, textarea, button{
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}
input, textarea{
    margin-bottom: 1rem;
    color: #ffff;
    background-color: #323644;
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s;
    box-shadow: 0.3s;

}
input:hover, input:focus,textarea:hover, textarea:focus{
    outline: none;
    border-color: #1d90f5;
    box-shadow: 0 0 0 0.3125rem #26344a;

}
label{
    margin-bottom: 0.5rem;
    color: #84868f;
}
textarea{
    min-height: 12.5rem;
    resize: vertical;
}
button{
    border: none;
    border-radius: 99px;
    color: white;
    background-color: blue;
    cursor: pointer;
    transition: 0.3s;
}
button:hover, button:focus{
    outline: none;
    background-color: #1d90f5;
}
button:disabled{
    cursor: not-allowed;
    background: #555b69;
}
